<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Dan Hixon Codes" />
<meta name="keywords" content="life,code,software,development,photography" />
<meta name="author" content="Dan Hixon" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<!-- TODO: Figure out rss feed -->
<title>Dan Hixon Codes</title>
</head>

<body>
<div id="wrap">
	<div id="header">

		<h1><a href="/"><div id="logo"></div>Dan<span class="fade">Codes</span></a></h1>
		<div class="slogan">
		<!--
				<a href="/code" class="pink">code</a> :|: 
				<a href="/ideas" class="green">ideas</a> :|: 
				<a href="/photo" class="blue">photo</a> :|: 
				<a href="/life" class="orange">life</a>
		-->
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    Keep in touch with family:<a href="http://www.spokt.com">spokt.com</a> ||
    <a href="http://danhixon.smugmug.com">photograpy</a>

<p>&copy; 2009 <a href="#">Dan Hixon</a>

</div>

</div>
<!-- This is for code colorization which doesn't seem to work very well in IE... i guess I don't care very much -->
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shCore.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushRuby.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushXml.js"></script>
<script language="javascript" src="http://communicatopia.s3.amazonaws.com/js/shBrushCss.js"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = 'http://communicatopia.s3.amazonaws.com/js/clipboard.swf';
//name, showGutter, showControls, collapseAll, firstLine , showColumns
dp.SyntaxHighlighter.HighlightAll('code',false, false,false,1,false);
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4105222-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>

